body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Desktop */
#desktop {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#2d7fe3, #1a5fb4);
  padding: 20px;
}

.icon {
  width: 80px;
  text-align: center;
  color: white;
  cursor: pointer;
}

/* Window */
.window {
  width: 320px;
  position: absolute;
  top: 120px;
  left: 200px;
  background: white;
  border: 1px solid #444;
  display: block;
}

.title-bar {
  background: #0b5ed7;
  color: white;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
}

.window-content {
  padding: 10px;
}

/* Taskbar */
#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
